body {
	background-color: white;
	color:black;
	font-size: 20px;
}

article {
	color: black;
	background-color: white;
	margin-top:-3%;
	margin-left: auto;
	margin-right: auto;
	font-family:Times New Roman;
	float: center;
	font-size:17px;
}

h2 {
	text-align:center;
	float:center;
	
}


					.center {
					display: block;
					margin-left: auto;
					margin-right: auto;
					text-align: center;
					
				}
				
				section{
						text-align: center;
					}

				
				table, th, td{
					width: 100%;
					text-align: center;
					border: 1px solid white;
					background-color: black;
					color: white;
					color: white;
					table-layout: fixed;
					font-size: 20px;
				}
				